124M/h3_ln1_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h4_mlp_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h5_ln2_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h7_mlp_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h0_attn_cattn_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h10_attn_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h11_attn_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h1_mlp_cfc_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h4_ln2_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h4_mlp_cfc_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h7_attn_cattn_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h7_attn_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h0_attn_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h1_mlp_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h2_ln2_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h6_attn_cattn_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h8_attn_cattn_w.dat filter=lfs diff=lfs merge=lfs -text
124M/wpe.dat filter=lfs diff=lfs merge=lfs -text
124M/h0_attn_cattn_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h10_attn_cattn_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h10_ln1_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h5_mlp_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h7_attn_cattn_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h0_mlp_cfc_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h1_attn_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h5_ln2_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h9_ln1_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h0_mlp_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h10_ln1_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h11_ln2_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h3_mlp_cfc_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h4_mlp_cfc_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h5_attn_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h6_attn_cattn_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h8_attn_cattn_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h11_ln1_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h1_ln1_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h2_attn_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h4_attn_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h5_ln1_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h8_mlp_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h9_mlp_cfc_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h11_ln1_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h2_ln1_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h4_mlp_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h7_attn_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h7_mlp_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/wte.dat filter=lfs diff=lfs merge=lfs -text
124M/h1_attn_cattn_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h2_attn_cattn_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h5_mlp_cfc_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h6_mlp_cfc_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h7_mlp_cfc_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h8_ln1_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h8_ln2_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h8_mlp_cfc_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h1_mlp_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h3_attn_cattn_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h0_attn_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h4_attn_cattn_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h5_ln1_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h7_ln1_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h0_mlp_cfc_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h11_attn_cattn_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h1_attn_cattn_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h1_attn_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h1_ln1_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h2_attn_cattn_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h4_ln1_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h5_mlp_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h8_ln1_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h0_ln1_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h10_mlp_cfc_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h2_ln2_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h2_mlp_cfc_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h9_ln2_b.dat filter=lfs diff=lfs merge=lfs -text
124M/tokens.dat filter=lfs diff=lfs merge=lfs -text
124M/h0_mlp_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h2_attn_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h3_ln2_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h4_attn_cattn_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h4_attn_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h0_ln1_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h0_ln2_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h3_attn_cattn_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h5_attn_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h8_mlp_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h10_mlp_cfc_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h2_ln1_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h5_attn_cattn_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h6_ln2_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h6_mlp_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h9_ln1_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h10_mlp_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h11_mlp_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h2_mlp_cfc_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h1_ln2_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h8_ln2_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h9_attn_cattn_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h10_mlp_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h11_mlp_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h2_mlp_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h4_ln1_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h5_attn_cattn_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h5_mlp_cfc_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h6_mlp_cfc_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h8_attn_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h11_mlp_cfc_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h6_ln1_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h3_ln2_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h3_mlp_cfc_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h3_mlp_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h6_attn_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h7_ln2_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h9_attn_cattn_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h9_attn_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h10_attn_cattn_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h3_attn_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h7_ln1_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h9_mlp_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h11_mlp_cfc_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h1_mlp_cfc_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h10_ln2_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h6_ln1_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h6_mlp_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h3_ln1_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h7_mlp_cfc_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h9_mlp_cfc_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h9_ln2_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h10_attn_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h10_ln2_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h11_attn_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h2_mlp_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/lnf_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h11_ln2_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h1_ln2_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h7_ln2_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h8_attn_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/lnf_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h3_attn_cproj_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h3_mlp_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h4_ln2_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h8_mlp_cfc_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h0_ln2_g.dat filter=lfs diff=lfs merge=lfs -text
124M/h11_attn_cattn_w.dat filter=lfs diff=lfs merge=lfs -text
124M/h6_attn_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h6_ln2_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h9_attn_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h9_mlp_cproj_b.dat filter=lfs diff=lfs merge=lfs -text
124M/h6_mlp_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h2_mlp_cfc_w.t filter=lfs diff=lfs merge=lfs -text
124M/h0_attn_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h9_mlp_cfc_w.t filter=lfs diff=lfs merge=lfs -text
124M/h4_attn_cattn_w.t filter=lfs diff=lfs merge=lfs -text
124M/h1_attn_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h5_mlp_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h7_attn_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h7_mlp_cfc_w.t filter=lfs diff=lfs merge=lfs -text
124M/h11_attn_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h8_attn_cattn_w.t filter=lfs diff=lfs merge=lfs -text
124M/h11_mlp_cfc_w.t filter=lfs diff=lfs merge=lfs -text
124M/h3_attn_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h10_attn_cattn_w.t filter=lfs diff=lfs merge=lfs -text
124M/h8_mlp_cfc_w.t filter=lfs diff=lfs merge=lfs -text
124M/h1_attn_cattn_w.t filter=lfs diff=lfs merge=lfs -text
124M/h9_attn_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h10_attn_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h10_mlp_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h3_attn_cattn_w.t filter=lfs diff=lfs merge=lfs -text
124M/h1_mlp_cfc_w.t filter=lfs diff=lfs merge=lfs -text
124M/h0_mlp_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h5_attn_cattn_w.t filter=lfs diff=lfs merge=lfs -text
124M/h0_mlp_cfc_w.t filter=lfs diff=lfs merge=lfs -text
124M/h7_attn_cattn_w.t filter=lfs diff=lfs merge=lfs -text
124M/h8_attn_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h7_mlp_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h9_mlp_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h4_attn_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h2_mlp_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h0_attn_cattn_w.t filter=lfs diff=lfs merge=lfs -text
124M/h6_attn_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h4_mlp_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h11_mlp_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h5_attn_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h8_mlp_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h11_attn_cattn_w.t filter=lfs diff=lfs merge=lfs -text
124M/h2_attn_cattn_w.t filter=lfs diff=lfs merge=lfs -text
124M/h9_attn_cattn_w.t filter=lfs diff=lfs merge=lfs -text
124M/h4_mlp_cfc_w.t filter=lfs diff=lfs merge=lfs -text
124M/h5_mlp_cfc_w.t filter=lfs diff=lfs merge=lfs -text
124M/h6_mlp_cfc_w.t filter=lfs diff=lfs merge=lfs -text
124M/h10_mlp_cfc_w.t filter=lfs diff=lfs merge=lfs -text
124M/h3_mlp_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h2_attn_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h3_mlp_cfc_w.t filter=lfs diff=lfs merge=lfs -text
124M/h1_mlp_cproj_w.t filter=lfs diff=lfs merge=lfs -text
124M/h6_attn_cattn_w.t filter=lfs diff=lfs merge=lfs -text
